.vertical-align {
  display: flex;
  vertical-align: middle;
  width: 100%;
  top: 45%;
}

.vertical-align-col{
  display: flex;
  flex-direction: row;
}

.vertical-align-col > [class^='col-'], .vertical-align-col > [class*=' col-']{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-same-height {
  display: flex;
  flex-wrap: wrap;
}

.flex-same-height > [class*='col-']{
  display: flex;
  flex-direction: column;
}

.flex-same-height > [class*='col-'] > .panel{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}