
/*
    mobile first CSS, these components are used in the calendar modal
*/
textarea {
  height: 150px;
  width: 100%;
}

select {
  width: 100%;
  text-align: center;
}
/* end of modal components */