

.text-status-green{
  background-color: green;
  border-radius: 8px;
  color: #fff;
  padding: 2px 10px 2px 10px;
  font-size: 1.3rem;
}

.text-status-red{
  background-color: red;
  border-radius: 8px;
  color: #fff;
  padding: 2px 10px 2px 10px;
  font-size: 1.3rem;
}

.text-status-orange{
  background-color: orange;
  border-radius: 8px;
  color: #fff;
  padding: 2px 10px 2px 10px;
  font-size: 1.3rem;
}